.othercard{
    display: flex;
    padding-top: 30px;
}

.ComponentShow{
    transition: all .5s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
}
.ComponentShow:target{
    transition: all .5s ease-in-out;
  transform-origin: left top;
      transform: scaleY(1);

}
.main-container{
    padding: 30px;
    overflow: auto;
height: calc(100% - 105px);
}

.backdrop{
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0.5;
        background-color: black;
       }
